body {
	background-color:rgb(238, 227, 214);
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  color: rgb(104, 68, 22);
}
.nav {
  padding: 10px;
  width: 100%;
}
.nav p{
  display: inline;
  font-weight: bold;
  padding: 1%;
  text-decoration: none;
}

a {
  text-decoration: none;
}
.home {
  margin-block-end: 20em;
}
.jumbotron {
  background-color: rgb(175, 140, 94);
  width: 100%;
}
.jumbotron h1 {
  margin-left: 12em;
  margin-right: 10em;
}
.jumbotron p {
  margin-left: 23.5em;
  margin-right: 10em;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

.artikel {
  width: 80%;
}
.box {
  display: flex;
  flex-wrap: wrap;
}
.des {
  width: 100%;
}

.card {
  padding: 0.5em;
  height: 500px;
  width: 26%;
  float:right;
  margin: 20px 1%;
  border-radius: 5px;
  box-shadow: 0 10px 10px wheat;
  background-color: rgb(207, 178, 141);
}

.head-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 0.1em;
}

.head-card h3,p{
  padding-left: 10px;
  bottom: 15%;
}

.body-card {
  padding: 10px 10px;
  padding-top: 0;
}


article .container .card {
  width: 330px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
  flex-direction: row;
}

article .container .card img{
  width: 330px;
  height: 150px;
  position: absolute;
  border-radius: 10px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px){
  .jumbotron {
    padding: 10px;
    width: 100%;
    background-color: #e4d8d8;

  }

  .jumbotron h1 {
    margin-left: 0em;
    margin-right: 0em;
  }
  .artikel {
      width: 100%;
  }
  .card {
      padding: 0.5em;
      height:auto;
      width: 100%;
      float: right;
      margin: 20px 1%;
      border-radius: 5px;
      box-shadow: 0 10px 10px rgba(0,0,0,.1);
    }
    .sidebar {
      width: 18%;
      color: rgb(71, 56, 35);
  }
  .nav {
      padding: 10px;
      width: 100%;
      background-color: rgb(199, 175, 145);
      justify-content: center;
  }
  .nav p{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      font-weight: bold;
      padding: 1%;
      text-decoration: none;
      justify-content: center;
  }
  .blog {
      margin: 0;
      margin-bottom: 50px;
  }
  .home {
      margin: 0;
  }

}

.toggle-sidebar {
  border: none;
  background-color: rgb(238, 227, 214);
  color: rgb(78, 25, 25);
  font-weight: bold;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.sidebar {
  height: 500px;
  width: 150px;
  padding: 10px;
  list-style: none;
  background-color: rgb(175, 140, 94);;
}

.sidebar li a {
  display: block;
  padding: 25px;
  text-decoration: none;
  color: rgb(211, 180, 140);
  text-transform: uppercase;
  border-bottom: 1px solid silver;
  transition: background-color 0.5s;
}
.sidebar li a:hover {
  background-color: rgb(255, 255, 255);
}