body {
	background-color:rgb(238, 227, 214);
  }

h1 {
    color: rgb(90, 64, 33);
    font-size: 40px;
  }

h2 {
    color: rgb(150, 100, 26);
  }

h3 {
  color: rgb(150, 100, 26);
}

p {
    color: rgb(150, 100, 26);
  }

.container {
    margin: auto;
    display: inline-block;
    margin: 5px 15px;
    gap:20px;
    position: relative;
  }

.card {
    height:auto;
    background-color: rgb(230, 208, 179);
    width: 23%;
    float: left;
    margin: 20px 1%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 10px rgb(192, 161, 123);
  }

.card2 {
    height:auto;
    background-color: rgb(192, 162, 123);
    width: 23%;
    float: left;
    margin: 20px 1%;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 10px 10px rgb(150, 123, 89);
  }
  
.head-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
   