* {
    margin: 0;
    padding: 0;

}
body{
    background-color:rgb(238, 227, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 1,5px;

}
.title{
    font-size: 30px;
    font-weight: 600;
    color: rgb(90, 64, 33);
    letter-spacing: 2px;
    margin: 30px;
}
.todo-list{
    width: 450px;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(226, 190, 190, 0.1);
    border-radius: 5px;
    background-color:rgb(182, 150, 114);
}
.list-head{
    display:grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}
.entered-list{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(90, 64, 33);
    font-size: 16px;
    outline: none;
}
.add-list{
    border: none; 
    border-radius: 5px;
    background-color: rgb(92, 60, 26);
    outline: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity:  .6;
    pointer-events: none;
}
.add-list.active {
    opacity: 1;
    pointer-events: all;
}
.tasks{
    width: 100%;
    margin-top: 30px;
}
.item{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 300px rgb(90, 64, 33);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.item p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(90, 64, 33);
    letter-spacing: 1px;
}
.item.completed p{
    text-decoration: line-through;
    color: beige;
}
.item-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}
.item-btn i{
    color: rgb(213, 213, 224);
    font-size: 18px;
}
